[2016-01-16 08:01] lenw opened #1 "Calling existing code"
Having an example of calling existing code from a script would be very helpful ?

[2016-01-16 11:04] glycerine commented on #1
Hi @lenw,

The easiest way is to define a new Go function that becomes a new lisp function. Have a look at repl/functions.go, and search for the BuiltinFunctions array that lets you add new functions to the language itself. For example "gob" is the last one defined there, and that ties it to the definition of GobEncodeFunction which lives in repl/gob.go.  From inside your newly added Go function,

[2016-01-16 18:58] glycerine commented on #1
@lenw closing this as answered; feel free to re-open or open a new issue if you have any other questions, Len.
Jason

[2016-01-16 18:58] #1 closed

[2016-01-21 20:50] glycerine opened #2 "parser should repect raw string literals over multiple lines"
the new parser doesn't respect raw strings when they don't fit on one line.
[code]
and while when nested in an expression the parser recognizes them
[code]

above the newlines should not be ignored

[2016-01-21 23:08] ejemba opened #3 "Hook Syntax"
Can you just give a sample for the hook (Pre and Post) in the wiki ?

PS
Thank you for this amazing lib !

[2016-01-22 00:16] glycerine commented on #3
Thanks @ejemba :)

The hooks are for Go functions. For example, see `CountPreHook` and `CountPostHook`

https://github.com/glycerine/zygomys/blob/01562f6161e20b70040704f1c805e3e64af4ede7/repl/repl.go#L16

and

https://github.com/glycerine/zygomys/blob/01562f6161e20b70040704f1c805e3e64af4ede7/repl/repl.go#L392

I'll leave this open as a reminder to add a description to the wiki in the near future.

[2016-01-22 07:00] #2 closed

[2016-01-22 07:06] glycerine commented on #3
Thinking on this a little more, the hooks are mostly a means of internal profiling, left over from the Glisp days. I removed them from the feature list just now. They are still there internally, but not really meant to support anything vis-a-vis the language itself.  So I'm closing this out as an (intentinoally undocumented and unsupported feature; any user of the library can do similar or even si

[2016-01-22 07:06] #3 closed

[2016-01-22 10:47] ejemba commented on #3
@glycerine thank you for your answer :) I was thinking of them like the advice in emacs-lisp
defadvice or hook that are very usefull.

Thanks anyway :)

[2016-01-22 11:04] glycerine commented on #3
@ejemba wow I had no idea emacs lisp had all that. It's so built out. Kind of amazing. Glad you mentioned it(!)

[2016-02-05 22:53] eliothedeman opened #8 "Need ability to {black,white}list functions"
When building a DSL it is usually necessary to only allow a subset of functions to be called by the user for security reasons(I don't want someone writing remote queries for my database to be able to execute shell commands).

I am happy to write a POC of this, but wanted to get your thoughts before I did so.

[2016-02-06 02:52] glycerine commented on #8
not opposed, of course, its a natural need when scripting games or providing a database language.

The simplest thing is to change the builtin list in repl/function.go to be two lists, and then load the second list based on a global constant such as Sandbox.

[2016-02-06 04:32] eliothedeman commented on #8
Would it make sense to have a form of [NewGlisp](https://github.com/glycerine/zygomys/blob/master/repl/environment.go#L51) that took a map of functions. Then there could be two standard maps (Std, Sandbox) that could be provided or the user could supply their own map. This would also make loading a user created function set a lot easier.

[2016-02-06 06:19] glycerine commented on #8
Sounds eminently reasonable. Look forward to your POC.

[2016-02-06 21:44] glycerine commented on #8
@eliothedeman

I finalized this round of code with this commit
https://github.com/glycerine/zygomys/commit/811e45e890cc555eae9ae1813530b6a80d2d20e1

Thanks for the contribution Eliot!

[2016-02-06 21:44] #8 closed

[2016-03-15 02:55] glycerine opened #10 "append(x, xs...) semantics"
so we can splice one slice to another without nesting

[2016-03-15 07:54] glycerine opened #11 "multiple infix expressions in a row"
{ a = 10; b = 12} should execute both bindings

[2016-03-19 21:27] glycerine commented on #11
done as of at least 4.3.1 https://github.com/glycerine/zygomys/commit/c2a252ccc93060b5cd4dece484140679eb0a057c

[2016-03-19 21:27] #11 closed

[2016-03-19 22:56] #10 closed

[2016-03-22 10:26] insionng opened #12 "I don't want to use the CGO."
go get -u github.com/glycerine/zygomys/cmd/zygo

[code]

[2016-03-22 10:30] insionng commented on #12
Recommend the use of "github.com/dchest/blake2b"

[2016-03-22 16:22] glycerine commented on #12
fixed with 23bc74770c945f51a2a1ea4cfc9823cca7d0ff5e

[2016-03-22 16:22] #12 closed

[2016-06-14 12:14] nsjph opened #13 "Namespace support?"
I'd like to be able to load multiple .zy scripts into a single Glisp environment, however two scripts with same functions/vars could clobber each other. (The specific use case would be a bot with multiple plugins). So I'd love to be able to load each script into a different namespace within the same Glisp environment.

An alternative approach is to have one Glisp environment per script, which seem

[2016-06-14 15:34] glycerine commented on #13
@nsjph Good suggestion.  Shouldn't be hugely difficult. I'll look into it.

[2016-06-14 15:52] glycerine commented on #13
Re your other question about having one Glisp environment per script: this is also entirely reasonable and should be quite efficient.

The only downside would be that one package (namespace) couldn't refer to functions/variables in another. Depending on security concerns of course, that may be what you want.

[2016-06-15 10:58] nsjph commented on #13
Security-wise, I'd probably implement something like all scripts from "plugins/*.zy" to be loaded (via env.LoadString()) into a shared sandboxed environment, able to access each-other's namespaces, while any located in plugins/trusted/*.zy would be in a separate, un-sandboxed environment.

[2016-06-18 20:53] glycerine commented on #13
f85274a / as of release v4.7.0, zygo has package functionality which can be used by library writer or consumer of libraries/scripts to package and isolate sourced code.

Check out tests/package.zy for example use. Either the client/consumer can create the package themselves upon import (like this):

[code]

...or the package library itself can put a package statement at the top of the file. If one

[2016-06-18 20:53] #13 closed

[2016-06-19 10:05] nsjph commented on #13
Works like a charm!

Here's an example of my loading code (which is very close to what I was envisaging in the first place):

[code]
So if I have a stdlib.zy, I can easily eval stdlib.myfunc elsewhere in the code.

Thanks a bunch.

PS, Is LoadString or EvalString the best to use for this type of initialization/loading? Would I only use Evalstring if i care about the output?

[2016-06-19 16:54] glycerine commented on #13
Good to hear :-)

You almost surely want EvalString(), or possibly SourceFile() (in source.go), as these will actually "run" the generated bytecode, establishing symbol bindings in the environment. The Load* functions parse and generate bytecode, but do not actually run it and so don't change the environment.

[2016-06-20 03:36] glycerine commented on #13
NB: As of 4.8.0 (4856ddf) released just now, I added the Public/private distinction for identifiers within an imported (sourced) package. This supports the eventual aim of enabling trivial compile-down to actual Go code. By matching Go's expectations, variables won't have to be renamed later to accomplish the compilation. See the extended https://github.com/glycerine/zygomys/blob/master/tests/pack

[2016-10-17 03:31] Vegertar opened #15 "an amazing work except for interacting with existing go codes"
You know, to call go codes, users have to declare zygo signatures, but clojure can use JDK library directly.
I think this is the biggest deal that we couldn't use zygo in production.
Thanks for your fantastic work.

[2016-10-17 22:58] glycerine commented on #15
It's much worse than that. Not only does zygo require that you compile in the Go structs you want to refer to from zygo... you have to suffer along without being able to use libraries without compilation like other Go programs, since Go still lacks a plugin infrastructure. Also basic things in zygo will be slower than clojure, since we do have a mature JIT compiler like the JVM provides; zygo is a

[2016-10-17 22:58] #15 closed

[2016-12-15 22:37] purpleidea opened #16 "Reactive programming"
Hi there,

I'm looking to use or write a DFRP, that is a declarative, functional, reactive programming language.
Here are some requirements:

* implemented in golang
* reactive
* declarative
* possibly functional

This came across my radar, and I was wondering if you had any ideas about how easy/hard it would be to make some aspects reactive? I'm new to lexers and parsers and lisps!

This is meant

[2016-12-15 22:49] glycerine commented on #16
Tell me what you mean by reactive, and DFRP.

[2016-12-15 23:17] purpleidea commented on #16
By "declarative" (the word is used in config management circles) in pure programming circles I think it's more commonly known as "single assignment".

As for reactive (a concept I'm new to) the idea is that the program outputs a stream, which is updated when it's variables change. We might have a lookback cache so that we could have an avg function around a variable that returns a moving average o

[2016-12-16 01:32] glycerine commented on #16
hmm... nothing comes to mind. If you have a simple example, that might help communicate what you're after.

[2016-12-16 07:53] purpleidea commented on #16
@glycerine That's fair. I'm particularly bad at explaining this, although I'll try and do better in the future.

Does this help? https://en.wikipedia.org/wiki/Reactive_programming
The first paragraph explains it better...

[2016-12-16 09:18] glycerine commented on #16
This is exactly the kind of thing that zygo was designed for.  Declare and compose a tree that expresses your computation. Use defmap to create your objects. Child objects are simply fields on the object (defmap makes named hash tables). Once you have composed your computation tree you can write go functions that can be invoked to walk the tree and compute results. I've built several similar syste

[2016-12-16 20:32] purpleidea commented on #16
@glycerine

I am possibly a bit obtuse (sorry), but can you elaborate about how I can transform zygo to make it reactive? Thanks!

[2016-12-16 22:15] jacmoe commented on #16
You are not making much sense @purpleidea - just program reactively!
Since it is a Lisp, I guess that would be functional reactive..
Reactive is a programming paradigm (read: idea) and you can even use Javascript (Meteor) - so look it up.

I suspect that 'reactive programming' is just another way of describing data-driven programming/design - it is quite trendy these days..

[2016-12-16 23:58] dc0d opened #17 "Zygomys in Production"
Is Zygomys being used in production? Who is using it?

Sorry to ask here; but I did not get any meaningful responses from other places.

[2016-12-17 03:51] glycerine commented on #16
@purpleidea Give us more context/description of the specific problem you are solving. It is easy to speak in specifics.

[2016-12-17 04:00] glycerine commented on #17
@dc0d No worries. I haven't heard of anyone using it in production.

The byte code interpreter is pretty slow compared to most languages; it isn't very optimized.

I haven't worked on zygomys in a while.  There is not a big community of users. I can offer some advice, but if you need extensions or issue fixes, you are going to be doing them yourself.

If you were going to write your own interprete

[2016-12-17 04:00] #17 closed

[2016-12-17 04:15] purpleidea commented on #16
Sorry about this. I'm building a config management tool called https://github.com/purpleidea/mgmt/
We are trying to build an DFRP as mentioned above. Sorry for wasting your time, I will regroup my thoughts and come back if I can describe the problem better.

Thanks!

[2016-12-17 04:15] #16 closed

[2016-12-17 04:52] glycerine commented on #16
no worries @purpleidea. There's built in support for the declarative part only. It is easy to declare a computation tree at the repl, using defmap/record objects then pass it to golang for processing. You still have to write all the event handling (applying an event to the tree) and handling of streams yourself.

[2017-02-17 18:54] zippy opened #18 "HashSet example in docs fails"
In the GO API docs, the example doesn't work, for example to do the hash set you have to do something more like:

			var result SexpHash
			err := result.HashSet(&SexpStr{S: "result"}, &SexpStr{S: "not ok"})

[2017-02-17 19:16] glycerine commented on #18
Thanks for mentioning it. I adjusted the wiki docs.

[2017-02-17 23:45] #18 closed

[2017-02-22 20:58] owulveryck opened #19 "better errors messages for unbalanced parentheses."
Hello,

I am trying to use zygomys as an embedded language for a project.
The go part is ok, but I have some troubles with the "lisp" part.

Actually this code is failing and I wonder why (there is probably a good reason):

[code]

And the error:

[code]

Any clue?

Many thanks.

Olivier

[2017-02-22 22:21] glycerine commented on #19
the error could be improved. It means you made a mistake the parenthesis. When I fix your parenthesis, it runs like this:

[code]

[2017-06-23 14:12] briansorahan opened #20 "repl package should be called zygo"
I found it confusing how I might get the Go API examples to work. I didn't see a zygo package anywhere in the repo. Finally found that it was repl by looking at cmd/zygo/main.go

This is just a suggestion, but it's a convention the Go community has largely adopted https://golang.org/doc/effective_go.html#package-names

[2017-06-23 19:51] glycerine commented on #20
I dislike the stuttering of zygomys/zygo, hence my preference for repl; its also more descriptive of its role when embedded.

[2017-06-23 19:51] #20 closed

[2017-06-23 19:56] #19 closed

[2018-01-03 17:15] zippy opened #21 "request 5.0 update guide"
As of this morning my app which uses zygo no longer complies because the `github.com/glycerine/zygomys/repl` directory, which is what I used `go get` off of is gone, and it looks like the `Glisp` object is also gone.   Could you please post a developer upgrade guide?

[2018-01-03 17:30] glycerine commented on #21
@zippy Hi Eric!

Thanks for using zygo and for filing this.

Sorry for the breaking changes.   I know Go doesn't handle versioning very well.

First the quick fix: I incremented the major version to 5 to indicate breaking changes. If you want to use the last in the 4 series, simply `git checkout v4.8.3` and you should be good to go.

Now for the update guide. The 5.0 release refactors in two simpl

[2018-01-03 17:33] glycerine commented on #21
@zippy Out of curiosity, is your project open source (if so could I put a pointer to it in the readme)?  What do you use zygo for? Thanks!

[2018-01-03 17:38] zippy commented on #21
Please do!  https://github.com/metacurrency/holochain

[2018-01-03 18:03] glycerine commented on #21
Nice project! I added a link to the readme. Thanks!

[2018-01-04 05:28] dc0d opened #22 "How to Call Go Method/Function (Standard Lib)"
How can a method be called? For example if `(def t (now))`, is it possible to call the `Year()` method? Also how to `import` standard packages? If we evaluate `(import "time")` (REPL) we get this error:

[code]

Is there an `inspect` function that gives info about the type, fields and methods of an object? Or exported from a package?

[2018-01-04 06:07] glycerine commented on #22
Hi Kaveh.

First, I think I'm going to have to disappoint you.

There are two mechanisms for reaching out to Go from zygo. The standard library is of course available to import from within Go code, but Go libraries are in general not available without some (light) extra work on the part of the user. That work involves using one of the two extension mechanisms provided by zygo and documented in the

[2018-01-04 06:47] dc0d commented on #22
First of all I should thank you for this great work!

And thanks for this thorough answer. Please remove the line about disappointment (just for the record).

Having a bit more descriptive `inspect` function(ality) (in Elixir sense) helps greatly (IMHO).

I love to see programming languages (and other tools) in pure Go and there is nothing wrong with having special ways of communication with _nati

[2018-01-04 07:04] glycerine commented on #22
:) Thanks for the nice words.

The REPL should show `zygo` now, as I pushed a fix just now for that.

`inspec` would be nice. Currently there are (type?) and (str). e.g.

[code]

All s-expressions know how to print themselves, so at a minimum (str x) should give some information for any x.

Also (pretty true) gives nice pretty printing indentation of nested maps/Go structs.

[2018-01-04 07:15] glycerine commented on #22
Last, of note, objects just by printing them are fairly informative. I'll make up a two level object heirarchy here, and then print it flat and pretty.

[code]

[2018-01-04 07:39] dc0d commented on #22
Thanks!

Should I close this? Or will it be labeled as `Question` (or `Discussion` or something)?

[2018-01-04 15:47] glycerine commented on #22
I think it might be easier for others to find if its left open, so I'll put a question label on it and leave it open for now.

[2018-03-09 08:58] bmatsuo opened #23 "Anonymous function inside of a package loses its scope"
My team has been experimenting with the use of packages to organize some code. But there appears to be an issue where anonymous functions cannot see functions defined within the same package.

The following one-liner demonstrates the problem.

[code]

Pasting the above into the repl produces the following output:

[code]

The symbol `Double` is resolved in the expression `(println (Double 10))` bu

[2018-03-09 17:36] glycerine commented on #23
Hi @bmatsuo, thanks for mentioning this.

Heh. You're so polite. I appreciate that.

No, I think its just a bug.

I'm not sure off hand why that would be happening.

The main lookup code is in
https://github.com/glycerine/zygomys/blob/e8989828b9ecb80c420671b4c11faf9416735305/zygo/environment.go#L726

and the rules are discussed just inside,  https://github.com/glycerine/zygomys/blob/e8989828b9ecb8

[2018-03-11 06:26] bmatsuo commented on #23
I'll take a look over things and see what I can find. Though in general I don't know much about lisp. I didn't ask that stupid question to be flippant. I really don't know how things are supposed to work half of the time. :)

[2018-03-11 07:34] glycerine commented on #23
:-) no worries. It's just supposed to be straight lexical scoping. Or, "what you see on the page is what you get".

[2018-03-11 10:44] bmatsuo commented on #23
Well, I'm still rather confused after looking through the code. I developed enough intuition about how things are broken to arrive at this problem invoking anonymous functions:

[code]
The `let` returns a function which calls an anonymous function referencing `x`. And `zygo` is not able to resolve that symbol. `racket` was able to handle the equivalent(?) statement so I think this example is legit

[2018-03-11 11:18] bmatsuo commented on #23
Where I am most confused is that it seems like there is supposed to be a recursive quality to the lexical lookup and I can't see that in the `Zlisp.LexicalLookupSymbol`. AFACT there is a disconnect between the code comments and the code. Obviously that divergence is natural. But I am confused by these comments.

The section I have put in bold is not implemented, from what I have groked out of the

[2018-03-11 17:49] glycerine commented on #23
Not solved yet. Notes (debugging aloud here)...

https://github.com/glycerine/zygomys/blob/master/zygo/scopes.go#L142

is where the search (is supposed to) go up the stack

Part of what makes things tricky is that it generates byte code that creates scopes when run. This dynamic is necessitate but the runtime-created nature of anonymous functions.

https://github.com/glycerine/zygomys/commit/434da

[2018-03-11 17:58] glycerine commented on #23
I pushed the test file that I'm using, for reference https://github.com/glycerine/zygomys/blob/master/tests/closure3.zy

[2018-03-11 18:07] glycerine commented on #23
`(print (_closdump res))` is useful to dump a closure `res`'s stack

[2018-03-11 18:21] glycerine commented on #23
we'll fix this.

But in the meantime, I feel compelled to mention, wouldn't you rather script your project in Go rather than lisp? :-)  The static type checking is such a huge boon...

https://github.com/gijit/gi

[2018-03-11 22:07] bmatsuo commented on #23
I think our use cases are different. I don't think gi fits my goals. Anyway..

I see more now where recursion is supposed to occur. Thank you.

Maybe this is a cleaner version of the short example :golf:

[code]

All function evaluation happens in the outermost expressions.

[code]

Just to be clear, it seems like the second dump supposed to show three elements and look like the following:

[code]

[2018-03-11 23:48] glycerine commented on #23
That is what we desire, yes, but not what we've got.  closedOverScopes are (at least, currently) a snapshot of the runtime scope environment at the point at which the function is defined (converted to bytecode).

I'm thinking there needs to be a more explicit tracking of the lexical environment.

[2018-03-12 01:15] bmatsuo commented on #23
Are you saying closedOverScopes is this just scopes along the function call stack? That is, it is just the set of function parameters and let bindings in the runtime call stack along with global scope?

Are closed over variables for functions below the top of the stack are lost? Because I can't seem to get a handle on them.

Indeed.

[2018-03-12 06:17] glycerine commented on #23
That's close. The language "just" seems to imply something obvious. There's subtlety here. Perhaps it bears repeating.  The closedOverScopes is a *snapshot* of the familiar runtime callstack taken *at the point of closure definition*, and stored with the closure. Since a closure can be defined multiple times in different environments, the context has to be saved each time.

The closedOverScopes sn

[2018-03-14 07:47] glycerine commented on #23
As I said, I don't have time to work on this myself at present.

I prefer go, but If you insist upon a lisp/scheme, chez is a pretty nice one. Here's an embedding in Go I did a couple months back: https://github.com/go-interpreter/chezgo

[2018-03-16 12:12] mindreframer opened #24 "Introduce binary Github Releases for convenient downloading"
First: thanks for zygo! I played with it 2 years and it is awesome to see that it is still actively developed! I am looking for a flexible scripting interpreter that is not bash and is practical enough to be used for daily tasks (server-side scripting / CI automation /etc).

It would be great to have a readily downloadable binary, that can be used on a system without a Go compiler.

It also does n

[2018-03-16 14:12] glycerine commented on #24
Hi Roman @mindreframer, thanks for the compliment and interest in `zygo`.

A couple of caveats:

I'm pretty busy right now, so unfortunately don't have time to maintain zygo. Given that fact, I don't recommend using it in production unless you're willing to take on maintenance duties. For example, there's a problem recently reported with packages recognized in #23 that unfortunately I don't have t

[2018-03-16 14:14] #24 closed

[2018-03-16 21:30] mindreframer commented on #24
@glycerine Thank you for the elaborate response! Yes, it makes sense on one side and it is a shame on the other. That is an interesting turn on `gi` with Lua + LuaJIT, yet as you said it is early days. I will follow the progress on `gi`, it might end up as just the right thing! All the best to you!

[2018-03-17 16:15] glycerine commented on #24
Great! While young, `gijit` is already much more capable than `zygo`: interfaces, pointers, `switch`, select, complex numbers, and `defer` are advantages over `zygo`; the whole Go language is there. This was possible quickly because it is simply a port of the very mature GopherJS project from javascript to Lua. Javascript and Lua are almost identical semantically (both based on lisp, but with Lua

[2018-06-17 09:16] cmal opened #27 "`Raw string literals using a pair of backticks` not work in repl."
Hi, I've got this error message:
[code]

[2018-06-17 09:17] #27 closed

[2018-06-17 09:18] cmal commented on #27
Sorry for this. I've defined a `a` before that.

[2018-06-18 02:06] taliszhou opened #28 "how to get function return value?"
hi~~ zygo is so cool!!!
i m try to write a web mode REPL, like this:

`var env *zygo.Zlisp

func main() {
env = zygo.NewZlisp()
env.StandardSetup()
}

func listenLispCmd(session *WebSession, msg *InComeCmd) {
      expr, err := env.EvalString(msg.Content)
      if err != nil {
           session.Output(env.GetStackTrace(err))
       } else {
           session.Output(expr.SexpString(nil))
       }

[2018-06-18 10:46] glycerine commented on #28
The last value evaluated in a function is what it returns, and note that the `(printf)` function returns nil after doing its side effect of printing. So `sayhi` is returning nil -- that sounds like what you are seeing, and what I expect. Does that make sense?

[2018-06-28 17:56] ericfode opened #29 "How do I export functions from go into a package."
I get how to wrap functions with the Sexp type, but when i add them to the zygo i don't want them all in the top level namespace, it makes listing the symbols not super useful and makes me worry about name collisions.  What might you suggest?

[2018-06-28 18:39] glycerine commented on #29
Zygo does have packages:

https://github.com/glycerine/zygomys/blob/master/tests/package.zy

https://github.com/glycerine/zygomys/blob/master/tests/import.zy

Anonymous functions have some issues there (issue filed, no time to fix: https://github.com/glycerine/zygomys/issues/23), but otherwise they might suffice.

[2018-06-28 18:41] #28 closed

[2018-11-14 13:59] jkleiser opened #31 "Error calling 'infix': symbol `weather` not found"
I just installed zygo v5.0.1 on my Mac (macOS 10.14.1), and when I try the example I found in the wiki
[code]
then I get
[code]
What may be the problem here?

[2018-11-14 14:15] glycerine commented on #31
Yeah. Sorry this isn't clearer. It's perfectly natural to wonder why this would work at all. After all. Without a `defmap` or registration of a Go struct, none of the `snoopy`, `hornet`, or `weather` calls should work.  Nobody has defined those functions.

So what is going on. Well, there is a special flag for demo and testing purposes.

https://github.com/glycerine/zygomys/blob/master/zygo/cfg.go

[2018-11-15 10:00] jkleiser opened #32 "benchmarks/array-mult.zy, seems outdated"
I was trying to run this benchmark code https://github.com/glycerine/zygomys/blob/master/benchmarks/array-mult.zy, but it seems to be old and outdated. I tried to fix it, like this:
[code]
but it still has a prblem. I get this:
[code]
How can this be fixed?

[2018-11-15 12:09] jkleiser opened #33 "Is there some way to end up in REPL after running script?"
I would like to be able to end up in the REPL after running a script, so I can keep using the functions and the data that was generated by my script. Some flag (e.g. -i) could tell zygo not to exit after the script had done its job.

[2018-11-15 16:04] jkleiser opened #34 "Fibonacci speed, rather slow"
I compared the speed of zygo running a simple recursive Fibonacci function with the speed of similar code ran in "Nukata Lisp" (https://github.com/nukata/lisp-in-dart), and I was disappointed to see that zygo seemed to be more than 35 (maybe 70?) times slower than Nukata Lisp at this. The Fibonacci function I used for zygo was this:
[code]
The code I used for Nukata Lisp was this:
[code]
I did the

[2018-11-15 16:29] glycerine commented on #34
Hi Jon!  Yes, this is all true. Interpretted zygo is not fast. Zygo’s reason for being is to run compiled Go code on trees at compiled Go speed. Where the trees have composed in zygo dynamically, then converted to Go struct trees by reflection.

If you don’t care about tight integration with Go and running compiled Go, there are many faster choices.

[2018-11-15 17:20] glycerine commented on #33
seems reasonable. Just sec.

[2018-11-15 17:21] #33 closed

[2018-11-15 17:32] glycerine commented on #34
additional alternatives:

https://github.com/cosmos72/gomacro - if you are okay with an MPL license; and

https://github.com/go-interpreter/chezgo - another of mine, which gives you full on Chez scheme, embedded in Go using CGO. This will be much more feature-ful, mature, and more highly tuned. However conveying Go structures back and forth won't be easy, if even possible.

[2018-11-15 18:07] glycerine commented on #32
`func` is a reserved word. The fix is to rename that parameter to `fx`or something else.  I'll push an update.

[2018-11-15 18:19] #32 closed

[2018-11-18 09:23] jkleiser opened #35 "Missing function for milliseconds"
I see that zygo has time related functions like `now`, `astm` and `timeit`, but I cannot find any function returning milliseconds since some fixed time (1970-01-01), or since zygo launch. Floating point seconds with decimals could also do.

[2018-11-18 11:18] glycerine commented on #35
Reasonable. Would you kindly send a pull request?

https://github.com/glycerine/zygomys/blob/master/zygo/time.go is probably the best place to add such things.

[2018-11-19 15:10] jkleiser commented on #35
I will give it a try. Maybe later this week.

[2018-11-21 15:06] glycerine commented on #35
your call, but I like the shorter name

not that I'm aware of. If you file a PR though, leave it pointing at glycerine/zygomys so the project still builds by default with a `go get`.

[2018-11-21 19:01] jkleiser commented on #35
Agreed on "millis".

[2018-11-21 19:01] #35 closed

[2018-11-22 11:59] jkleiser opened #37 "Error message that could have been better"
If I type `(foo)`, I get this message:
[code]
This is not a very "friendly" error message. Why all the mention of "infix"? The main message here should be "symbol 'foo' not defined".

[2018-11-22 14:09] jkleiser commented on #37
I see this mention of "infix" occurs in other error messages too, e.g. this:
[code]
Maybe the "infix" function could have another name?

[2018-11-22 17:51] glycerine commented on #37
The message is apt, as the infix parser is the active one.

[2018-11-22 17:51] #37 closed

[2018-11-23 20:15] jkleiser opened #38 "Wiki: Generic Container needing some fix"
In the section on Generic Container Operations in the wiki/Language a few things should be fixed. The text says

It would be more correct to say

The examples for arrays and strings could be extended with third arguments. It's also odd that lists cannot be handled in the same way.

For the `appendslice` function, it is not very obvious to me what "without creating nesting" means. Also, "join to sl

[2018-11-23 20:30] glycerine commented on #38
A PR would be welcome.

[2018-11-23 20:53] jkleiser commented on #38
OK, but can you explain what "without creating nesting" means?

[2018-11-23 22:34] glycerine commented on #38
My mistake: I guess the rest of the docs call them arrays, not slices.

[2018-11-24 08:38] jkleiser commented on #38
To me, `(appendslice [0 1] [2 3])` looks very much the same as `(concat [0 1] [2 3])`, except that the latter accepts more than just two arguments. What's the real difference?

[2018-11-24 15:47] glycerine commented on #38
Yes, they are the same. There is some overlap. `append` and `appendslice` work only with arrays (aka slices in Go). `concat` started as a function for strings, then was generalized to handle arrays and lists too.

[2018-11-25 14:54] jkleiser commented on #38
A PR on a GitHub wiki seems to be not as easy as a PR on normal code. I am not sure if I shall go ahead on this. Some info on the topic can be seen here: https://www.growingwiththeweb.com/2016/07/enabling-pull-requests-on-github-wikis.html

[2018-11-25 14:58] glycerine commented on #38
ok

[2018-11-25 17:41] glycerine commented on #38
fixed in
4580fdae07f1e804c83922c9754ba2399ce36572 and
0db30baae4c5cf1ad6834ec601a0c3c721d76b43

[2018-11-25 17:41] #38 closed

[2018-11-30 12:24] japanoise opened #39 "[Feature request] Unsigned integers"
I'd like to use Zygomys for my assembler project. I notice that it's documented to only use signed `int64`s; it'd be useful if I could use unsigned integers in some way, preferably as `uint64`s.

[2018-11-30 12:33] glycerine commented on #39
Sure; this isn't too difficult. Just add an SexpUint64 to match the SexpInt everywhere; see https://github.com/glycerine/zygomys/blob/master/zygo/expressions.go#L72 for the definition of SexpInt.

You'll need to add this yourself. But I'm happy to review and merge a PR. You'll need a testfile under tests/uint.zy.

[2018-12-10 08:10] glycerine commented on #23
fixed in v5.0.8. tests/closure3.zy tests for this issue are now green.

[2018-12-10 08:10] #23 closed

[2018-12-10 18:30] glycerine commented on #39
@japanoise The latest release, v5.0.9, has uint64 support. See the tests/uint64.zy file for examples.

Try this out and let me know if there's anything significant missing to make it usable.

[2018-12-10 20:10] glycerine commented on #23
@bmatsuo This should be good to go. Let me know if you see anything else.

[2018-12-10 20:12] glycerine commented on #39
Closing this as now implemented. Feel free to open a new issue for any refinements.

[2018-12-10 20:12] #39 closed

[2018-12-10 22:33] japanoise commented on #39
Thank you for the quick turnaround!

[2019-02-08 04:56] markx opened #41 "Q: How to create a hash in Go?"
I'm trying to convert a Go struct to a hash, and pass it into zlisp.

`func MakeHash(args []Sexp, typename string, env *Zlisp) (*SexpHash, error) {` is the only function I found, but why does it depend on `env`? I gave it a `nil`, and it panics.

Is there a better way to create a hash in Go?

And even more specific to my use case, what's the best way to turn a Go struct into a hash and pass it to

[2019-02-08 05:42] glycerine commented on #41
`MakeHash` creates the hash table in the zygo environment `env`. Since it can contain references to many different values within the environment, you are simply telling zygo in which lisp environment you want to own your hash--and how to lookup those symbols that it references. Just make a new env or pass in the one you are working with.

I think you would have to do that manually. Create the hash

[2019-02-08 08:17] markx commented on #41
Then I'll do it manually.
My biggest problem is to create the hash. Is `MakeHash` the only/best way to create a hash?

I don't know what to pass for the parameters. I feel it's quite counter-intuitive. What is a `typename` for a hash? Why should it depend on an `env`? If this is just to satisfy the signature as one of those builtin functions to be injected into the environment, I guess that make s

[2019-02-09 05:07] glycerine commented on #41
https://en.wikipedia.org/wiki/XY_problem

If you describe your high level objective, we might better assist.  Your questions don't really make any sense.  One always creates a zygo hash inside a zygo env, for the reasons already explained. Making an env is trivial; `env := zygo.NewZlisp()`

What are you really trying to do, at a high level?

[2019-02-09 07:25] markx commented on #41
Sure. What I'm really trying to do, as I mentioned in the beginning, is to convert a Go struct to a hashmap, and pass it into zlisp.

[2019-02-09 14:03] #41 closed

[2019-02-09 19:37] markx commented on #41
Don't be mad man. Sorry for the confusion. Is this not high level enough? Let me try to rephrase it. My goal is to pass a Go struct to a zlisp, and this struct could be something like
[code]

Hope you could still help.

[2019-02-20 11:06] taliszhou opened #42 "how to response multi array from go function?"
HI~ glycerine!

I'm trying to write a function that returns rows of data from a mysql query.
But I don't know how to return a multi-array to the repl.
I tried typing "[def multarr [[1, 2, 3] [4, 5, 6]]" directly into the repl and found it supported.

please help to have a look.

`

     type SexpMysqlValueList struct {
          ValueList []orm.ParamsList
      }

     func (r *SexpMysqlValueList)

[2019-02-20 11:19] taliszhou commented on #42
zygo> (def test [[1 2 3 4] [5 6 7 8]])
[[1 2 3 4] [5 6 7 8]]
zygo> test[1]
[5 6 7 8]
zygo> test[1][1]
6

it works!  i want like it.

but my func test result is :

zygo> (def tessql (mysqlquery "select * from help_category limit 2", []))

[Variables]
valuelist = []orm.ParamsList{
    orm.ParamsList{
        "1",
        "Geographic",
        "0",
        "",
    },
    orm.ParamsList{
        "2",

[2019-02-20 14:54] glycerine commented on #42
I recommend that you return a standard SexpArray instead of your own custom type. Then the indexing machinery will already know how to index into it.

[2019-02-22 16:12] #42 closed

[2019-02-26 22:40] oubiwann commented on #22
Question about this: the struct approach for this documented in the wiki points to files no longer found:
* https://github.com/glycerine/zygomys/blob/master/repl/gotypereg.go
* https://github.com/glycerine/zygomys/blob/master/repl/demo_go_structs.go
* https://github.com/glycerine/zygomys/blob/master/repl/functions.go#L823

I'm trying to figure out how to implement Go interop in Zygomys, so would l

[2019-02-26 22:55] oubiwann opened #43 "Compiling to Go?"
I saw a comment in a ticket from a few years here:
 * https://github.com/glycerine/zygomys/issues/13#issuecomment-227044059

In particular, you say "This supports the eventual aim of enabling trivial compile-down to actual Go code" ... was progress ever made on that?

I would love to be able to write Lisp, have it compiled to Go, with all the speed benefits ;-)

[2019-02-26 23:08] oubiwann commented on #22
Ah, looks like these might have some good info:
 * https://github.com/glycerine/zygomys/blob/master/zygo/callgo.go
 * https://github.com/glycerine/zygomys/blob/master/zygo/callgo_test.go
 * https://github.com/glycerine/zygomys/blob/master/zygo/demo_go_structs.go

[2019-02-27 03:51] glycerine commented on #43
As would I. Unfortunately I quickly realized that was impractical. Lisp is too weakly typed, in contrast to Go's strong typing.

However there is a partial solution for critical parts, if you "hand compile", so to speak. Write the speed sensitive components with state in Go structs, and then wire them together with zygo scripts. zygo lets you call native Go methods on those structs. So when invoke

[2019-02-27 03:57] glycerine commented on #22
@oubiwann Yes, the package was renamed, from `repl` to `zygo`. I've updated the wiki in 6fcbbcf to try and fix up the links.

[2019-02-27 04:02] glycerine commented on #43
I'll leave this open as a question.

[2019-05-01 21:59] Stazer opened #44 "Go API Wiki Site"
Hey,

first of all thanks for your work. I really enjoy using zygomys!

I just wanted to mention that the hash examples on the [Go API Wiki Site](https://github.com/glycerine/zygomys/wiki/Go-API) are not correct which might be confusing.

Best Regards

[2019-05-02 03:19] glycerine commented on #44
what do you mean, specifically?

[2019-05-02 07:13] aadog opened #45 "Is there an intelligent prompt ide or plug-in to support grammar?"
Is there an intelligent prompt ide or plug-in to support grammar?

[2019-05-02 11:20] Stazer commented on #44
The use of the `HashSet`, `HashGet`, `HashGetDefault` and `HashDel` methods.

It should be:

Furthermore I saw that `HashGet`, `HashGetDefault` and `HashDelete` require the environment as argument. Shouldn't they use the environment of the hash passed as pointer receiver? `HashSet` is doing that already.

[2019-05-02 14:15] glycerine commented on #45
There is not. Pull requests welcome, of course.

https://github.com/glycerine/zygomys/blob/master/zygo/liner.go#L11  shows the tab completion machinery that is installed, which is limited. Mostly LISP grammar is incredibly uniform, it is learned very quickly.  I do recommend emacs for the electric brace functionality and general LISP friendliness it provides.

[2019-05-03 09:22] a97077088 commented on #45
I will pay close attention to your project and see how the smarttip plugin is progressing. I think it is already rich enough. Why is it not compatible with Goland's smart tips? I think this will be liked by many people.

[2019-05-29 10:21] xingzhefeng opened #46 "Prefer https://github.com/candid82/joker"
Prefer  https://github.com/candid82/joker

[2019-05-29 15:17] #46 closed

[2019-09-30 15:21] lthibault commented on #45
@glycerine I'm considering zygomys for a project of mine.  I've been wanting to dive into language design for a while now, and I think building this kind of feature might be a good jumping-off point for me.

Would you be generally available to help me out if I were to undertake this?

[2019-10-01 17:16] glycerine commented on #45
@lthibault Hi Louis, lisp has almost no grammar, just prefix forms, so this "feature" makes no sense to me. Hence I cannot recommend it.  I don't see the goal or idea.  More importantly, it doesn't do anything towards your goal of learning about language design.

[2019-10-02 15:11] lthibault commented on #45
@glycerine Fair point -- thanks for the candid feedback (seriously, you just helped me avoid a potential rabbit-hole)!

[2019-11-07 02:40] gorakhargosh commented on #43
How does ferret-lang.org manage to compile to C++?

[2019-11-07 02:45] glycerine commented on #43
How did Stalin? Bigloo? Gambit?

Only with alot of work.

[2019-12-17 02:40] japanoise opened #50 "While loop"
It'd be rad to have a while loop construct. I've had to hack it in myself, using this:

[code]

Is there a better way? Or would this require extending the language?

I'd like to be able to do:

[code]

[2019-12-17 03:48] glycerine commented on #50
Hi @japanoise that would be pretty cool.  Just add a couple of correctness tests to the test suite and file a pull request, and we'll put it in.

[2019-12-17 03:57] japanoise commented on #50
Well, currently the API is too clumsy. I wouldn't put it in as-is.

You have to do e.g.

[code]

I was wondering if you had a macro hack or something to make it nicer.

[2019-12-17 04:02] glycerine commented on #50
The proper way to would be to add it to the built in codegen, alongside the `for` builtin. You could probably just copy and modify the `for` Generator.GenerateForLoop code in generator.go:817 to be like Go and only need the middle test.

[2020-04-18 08:38] XANi opened #52 "Add a warning about neccesity of `Stop()`"
Currently not calling `env.Stop()` will make zygo not be GCed; code like this:
[code]
will quickly make it leak memory.

Maybe `defer env.Stop()` should be added somewhere in wiki ? Meanwhile I added  some comment to the function (https://github.com/glycerine/zygomys/pull/51 ) so at least there is hint in godoc about.

[2020-04-18 16:16] glycerine commented on #52
This is a reasonable concern. I've merged the Stop description addition.

Typically one only needs a single env for the process, so having the one parser background goroutine in the background is fine. It is like having an open file handle during the process.

But that isn't always true. Sometimes I end up with a bunch of parser goroutines just hanging around that won't be used in the future. A mo

[2020-04-18 23:31] XANi commented on #52
Honestly I think just clarifying comments and documentation a bit would've been enough. I haven't found a mention about it running in the background and it wasn't in a example and not in IDE hint (as there was no comments) so I assumed it just get GCed as normal. `RunAndClose()` kind of method would provide way to run one-shots easily but considering there is already setup required *anyway* just a

[2022-06-01 20:20] noonien opened #53 "Limiting memory and execution time"
Is there a way to limit the used memory/stack, and execution time?

I want to use zygomys to provide users of a discord sever the means to run/compose commands via it.

[2022-08-03 06:12] qjpcpu opened #54 "(gensym) always return the same symbol after defmac"
[code]

[2022-08-03 06:13] qjpcpu commented on #54
current environment's next symbol can't be updated any more, if env duplicated for generate macro

[2022-08-03 22:28] glycerine commented on #54
I can reproduce this but I'm busy at the moment. Do you have a fix too?

[2022-08-03 22:34] glycerine commented on #54
I temporary workaround appears to be using gensym while specifying a prefix like "hello" in this example:

[code]

[2022-08-03 22:41] glycerine commented on #54
Experimenting... each prefix can get stuck on its own, but alternating between prefixes seems to unstick the stuck prefix

[code]

[2022-08-03 23:29] glycerine commented on #54
Fixed by forcing env.GenSymbol to always increment env.nextsymbol.  Integers are cheap.

[2022-08-05 01:16] qjpcpu commented on #54
@glycerine your commit can't fix it, nextsymbol should be a global counter. below is a cornor case:
I want two macro to define dynamic function, the new1 always generate a new function to println "function1", and new2 generate a new function to println "function2", but execute new2 would overwrite the function of new1.

[code]

[2022-08-05 01:23] qjpcpu commented on #54
in fact this is bug of glisp, ref the commit
https://github.com/qjpcpu/glisp/commit/76d42238c094355165b4f8e07743ed5d2fbd6066

[2022-08-05 15:05] glycerine commented on #54
@qjpcpu
I'm sorry but your last comment is too terse to be understood. You'll have to explain more to convey your meaning.

I invite you to try the following fix and report back if it solves your problem and does not create other problems. I don't see any problems in the test suite, but I duplicated the environment long ago because applying the macro definition was messing up the stack.  If, after

[2022-08-06 10:25] qjpcpu commented on #54
@glycerine emm, the fix would screw up the stack, it's better to drop it. And I think my example case would hardly occur in reality, so your previous commit is enough.

Thanks

[2022-08-06 10:25] #54 closed

[2022-08-06 17:40] glycerine commented on #54
@qjpcpu I don't have any present evidence that the fix would screw up the stack. That problem _may_ have gotten fixed when the generator code came up to speed. I was just concerned that my test suite was not exhaustive enough to unconver stack mess-ups if they were still present.

Still, if you don't need, it would be less risky to leave it out.

[2022-08-10 08:47] qjpcpu opened #55 "mux function call mismatch"
mux function: register a function for multiple name, forexample, the builtin function "+ - * /".

when pass a mux function to another function, the behavior would be unpredictable:

[code]
when execute function '-' , its name changes to 'f', so use '+' as its default operand.

well, this bug comes from glisp, too.

[2022-08-10 09:22] glycerine commented on #55
thanks. if you figure out a fix, I'll be happy to incorporate it.

[2022-08-10 11:54] qjpcpu commented on #55
https://github.com/glycerine/zygomys/pull/56

[2022-08-10 21:41] #55 closed

[2022-08-10 21:41] glycerine commented on #55
Merged. Thank you.

[2022-08-10 21:47] glycerine commented on #54
The stack seems okay.

v6.0.3 uses the proposed change to macro application above. So macros can alter their environment now.